/* || General styles and typography */

body {
  font-family: 'Montserrat', 'Helvetica', 'sans-serif';
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 10px 150px 20px;
}

h1, h2, h3, p {
  margin: 0px;
  font-weight: 300;
}

h2 {
  font-size: 48px;
  line-height: 40pt;
  font-weight: 700;
  color: #F9FAF8;
}

h3 {
  font-size: 36px;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

/* || Header and main navigation */

.logo {
  height: 80px;
  width: 80px;
}

.logo-text {
  color: #F9FAF8;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #E5E7EB;
    font-size: 18px;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 30px;
}

.nav-links:hover {
  color: grey;
}

/* || Hero section */

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 60px 150px 93px;
}

.hero-disc {
  margin-bottom: 10px;
  line-height: 1.5;
}

.signup-button {
  text-decoration: none;
  border: 0;
  border-radius: 6px;
  padding: 5px 25px;
  background-color: #3882F6;
}

.signup-button:hover {
  text-decoration: none;
  background-color: #0a5ad8;
}

.hero-img {
  height: 200px;
  width: 400px;
  justify-content: flex-end;
}

/* || Infographic section */

.infographic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 150px;
  color: #1F2937;
}

.main-img {
  height: 100px;
  width: 100px;
  border: 2px solid #3882F6;
  border-radius: 8px;
}
