body {
  font-family: 'Montserrat', 'Helvetica', 'sans-serif';
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

a:hover {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
}

.header-img {
  height: 80px;
  width: 80px;
}

.body-img {
  height: 300px;
  width: 300px;
}
